.display {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5em;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: blue;
  color: white;
  width: 15em;
}
